
.music-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    
}
#music-card:hover #icon{
    visibility: visible;
}
.volume-icon:hover .volume-slider{
    visibility: visible;
}
#icon,
.volume-slider{
    visibility: hidden;
}
